<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ex.aaronfae.dao.DepartmentMapper">
    <resultMap id="BaseResultMap" type="ex.aaronfae.entity.Department">
        <id column="d_id" jdbcType="INTEGER" property="dId"/>
        <result column="d_name" jdbcType="VARCHAR" property="dName"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    d_id, d_name
  </sql>
    <select id="selectByExample" parameterType="ex.aaronfae.entity.DepartmentExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from department
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from department
        where d_id = #{dId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from department
    where d_id = #{dId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="ex.aaronfae.entity.DepartmentExample">
        delete from department
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="ex.aaronfae.entity.Department">
    insert into department (d_id, d_name)
    values (#{dId,jdbcType=INTEGER}, #{dName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="ex.aaronfae.entity.Department">
        insert into department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dId != null">
                d_id,
            </if>
            <if test="dName != null">
                d_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dId != null">
                #{dId,jdbcType=INTEGER},
            </if>
            <if test="dName != null">
                #{dName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="ex.aaronfae.entity.DepartmentExample" resultType="java.lang.Long">
        select count(*) from department
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update department
        <set>
            <if test="record.dId != null">
                d_id = #{record.dId,jdbcType=INTEGER},
            </if>
            <if test="record.dName != null">
                d_name = #{record.dName,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update department
        set d_id = #{record.dId,jdbcType=INTEGER},
        d_name = #{record.dName,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="ex.aaronfae.entity.Department">
        update department
        <set>
            <if test="dName != null">
                d_name = #{dName,jdbcType=VARCHAR},
            </if>
        </set>
        where d_id = #{dId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="ex.aaronfae.entity.Department">
    update department
    set d_name = #{dName,jdbcType=VARCHAR}
    where d_id = #{dId,jdbcType=INTEGER}
  </update>

    <!--手动加入的代码-->
    <resultMap id="selectAllMap" type="ex.aaronfae.entity.Department">
        <id column="d_id" jdbcType="INTEGER" property="dId"/>
        <result column="d_name" jdbcType="VARCHAR" property="dName"/>
        <collection property="employees" javaType="java.util.List" ofType="ex.aaronfae.entity.Employee">
            <id column="e_id" jdbcType="INTEGER" property="eId"/>
            <result column="e_name" jdbcType="VARCHAR" property="eName"/>
            <result column="e_gender" jdbcType="VARCHAR" property="eGender"/>
            <result column="e_email" jdbcType="VARCHAR" property="eEmail"/>
            <result column="e_tel" jdbcType="VARCHAR" property="eTel"/>
            <result column="d_id" jdbcType="INTEGER" property="dId"/>
        </collection>
    </resultMap>
    <select id="selectAllEmployee" resultMap="selectAllMap">
        SELECT * FROM department d LEFT JOIN employee e ON d.d_id = e.d_id
    </select>

</mapper>